<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>ProMag Email</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html, body {
            min-height: 100%;
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100% !important;
            height: 100vh !important;
        }

        .entry-page-title {
            color: #576BE3;
            font-size: 36px;
            line-height: normal;
            font-weight: 700;
            position: relative;
            padding-bottom: 15px;
        }

        .btnReset {
            background: #576BE3;
            text-decoration: none !important;
            font-weight: 500;
            margin-top: 35px;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            padding: 10px 12px;
            display: inline-block;
            border-radius: 3px;
        }

        .btnReset:hover {
            background: #576BE3;
            color: white;
        }

        .DivCenter {
            text-align: center
        }

        .DivHead {
            height: 10px
        }

        .DivCenter {
            height: 30px
        }

        .DivContent {
            padding: 0 15px
        }

        .FontH1 {
            color: #3075BA;
            font-weight: 400;
            margin: 0;
            font-size: 30px;
        }

        .FontSpan {
            display: inline-block;
            vertical-align: middle;
            margin: 29px 0 26px;
            border-bottom: 1px solid #cecece;
            width: 100px;
        }

        .FontP {
            color: #171f23de;
            font-size: 15px;
            line-height: 24px;
            margin: 0;
            text-align: left;
        }

        .FontPFooter {
            color: #171f23de;
            font-size: 12px;
            line-height: 24px;
            margin: 0;
        }

        .FontPEnd {
            font-size: 14px;
            color: #455056bd;
            line-height: 18px;
            margin: 0 0 0;
        }

        .BackgroundBody {
            background-color: #f2f8f9
        }

        .BorderContent {
            border: 2px solid #ededed;
            background-color: white
        }

        .WordBreak {
            word-break: break-all;
        }
    </style>
</head>

<body class="BackgroundBody">
{{>@partial-block}}
</body>

</html>
