<body class="default-theme">
<div class="page-wrapper">
    <div class="entry-page">
        <div class="row entry-page-layout">
            <div class="col-6 entry-page-hero-img forgot-hero-img">
                <div class="entry-page-logo"></div>
            </div>
            <div class="col-6 entry-page-content">
                <div class="entry-page-title-hint">You are set password in to</div>
                <div class="entry-page-title">ProMag</div>
                <div class="entry-page-form">
                    <div class="form-title"></div>
                    <div class="form-content">
                        <div class="alert alert-success">
                            <p>
                                <em class="material-icons-outlined">check</em> <strong>Successfully</strong>
                            </p>
                            Your request for new password has been submitted successfully
                        </div>
                        <div class="form-group">
                            <div>
                                <a asp-controller="Account" asp-action="Login">Log in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>